{% extends 'parts/base.twig' %}
{% block body %}
    <h1>Полис обязательного медицинского страхования (старого образца)</h1>
    {% if user is not null %}
        {% if policy_oldoms is null %}
            {% if message is not null %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            <form method="post" action="/old-oms-post">
                <div class="form-ground">
                    <label for="oldOMS_issuer_id">Страховая медицинская организация</label>
                    <input type="text" name="oldOMS_issuer_id" class="form-control" id="oldOMS_issuer_id" value="{{ form ? form.oldOMS_issuer_id }}" />
                </div>

                <div class="form-ground">
                    <label for="oldOMS_form_series">Серия полиса</label>
                    <input type="text" name="oldOMS_form_series" class="form-control" id="oldOMS_form_series" maxlength="10" value="{{ form ? form.oldOMS_form_series }}" />
                </div>

                <div class="form-ground">
                    <label for="oldOMS_form_number">Номер полиса</label>
                    <input type="text" name="oldOMS_form_number" class="form-control" id="oldOMS_form_number" maxlength="15" value="{{ form ? form.oldOMS_form_number }}" />
                </div>

                <div class="form-ground">
                    <label for="surname_id">Фамилия</label>
                    <input type="text" name="surname_id" class="form-control" id="surname_id" value="{{ user.surname|escape }}" />
                </div>

                <div class="form-ground">
                    <label for="name_id">Имя</label>
                    <input type="text" name="name_id" class="form-control" id="name_id" value="{{ user.name|escape }}" />
                </div>

                <div class="form-ground">
                    <label for="middle_name">Отчество (без отчества <input style="vertical-align: middle;" type="checkbox" name="check_mid_name" id="check_mid_name" onclick="textBlock()" value="yes"> )</label>
                    <input type="text" name="middle_name_id" class="form-control" id="middle_name" value="{{ user.middle_name|escape }}" />
                </div>

                <div class="form-ground">
                    <label for="birth_date">Дата рождения</label>
                    <input type="date" name="birth_date" class="form-control" id="birth_date" value="{{ birth_certificates.birth_date|escape }}" />
                </div>

                <label></label>
                <div class="form-ground">
                    <label for="sex_id">Пол</label><br>

                    <label for="sex_male_id">Мужской</label><input type="radio" name="sex_id" id="sex_male_id" onclick="radioCheck()" value="Мужской"><br>
                    <label for="sex_female_id">Женский</label><input type="radio" name="sex_id" id="sex_female_id" onclick="radioCheck()" value="Женский">
                </div>
                <label></label>

                <div class="form-ground">
                    <label for="social_status">Социальное положение</label>
                    <input type="text" name="social_status" class="form-control" id="social_status" value="{{ form ? form.social_status }}" />
                </div>

                <div class="form-ground">
                    <label for="place_of_work">Место работы</label>
                    <input type="text" name="place_of_work" class="form-control" id="place_of_work" value="{{ form ? form.place_of_work }}" />
                </div>

                <div class="form-ground">
                    <label>Адрес проживания</label>
                    <label for="residence_country_id"></label><input type="text" name="residence_country_id" class="form-control" id="residence_country_id" placeholder="Страна" value="{{ form ? form.residence_country_id }}" />
                    <label for="residence_region_id"></label><input type="text" name="residence_region_id" class="form-control" id="residence_region_id" placeholder="Субъект" value="{{ form ? form.residence_region_id }}" />
                    <label for="residence_city_id"></label><input type="text" name="residence_city_id" class="form-control" id="residence_city_id" placeholder="Город" value="{{ form ? form.residence_city_id }}" />
                    <label for="residence_district_id"></label><input type="text" name="residence_district_id" class="form-control" id="residence_district_id" placeholder="Район" value="{{ form ? form.residence_district_id }}" />
                    <label for="residence_settlement_id"></label><input type="text" name="residence_settlement_id" class="form-control" id="residence_settlement_id" placeholder="Населённый пункт (оставьте поле пустым, если таких данных нет)" value="{{ form ? form.residence_settlement_id }}" />
                    <label for="residence_street_id"></label><input type="text" name="residence_street_id" class="form-control" id="residence_street_id" placeholder="Улица" value="{{ form ? form.residence_street_id }}" />
                    <label for="residence_house_id"></label><input type="text" name="residence_house_id" class="form-control" id="residence_house_id" placeholder="Дом" value="{{ form ? form.residence_house_id }}" />
                    <label for="residence_apartment_id"></label><input type="text" name="residence_apartment_id" class="form-control" id="residence_apartment_id" placeholder="Квартира (оставьте поле пустым, если проживаете в часном секторе)" value="{{ form ? form.residence_apartment_id }}" />
                </div>

                <label></label>

                <div class="form-ground">
                    <label for="phone_id">Телефон</label>
                    <input type="text" name="phone_id" class="form-control" id="phone_id" maxlength="11" value="{{ form ? form.phone_id }}" />
                </div>

                <div class="form-ground">
                    <label for="contact_number">Номер договора обязательного медицинского страхования</label>
                    <input type="text" name="contact_number" class="form-control" id="contact_number"  maxlength="10" value="{{ form ? form.contact_number }}" />
                </div>

                <div class="form-ground">
                    <label for="contact_date">Дата заключения договора обязательного медицинского страхования</label>
                    <input type="date" name="contact_date" class="form-control" id="contact_date" value="{{ form ? form.contact_date }}" />
                </div>

                <div class="form-ground">
                    <label for="beginning_date">Дата начала периода действия</label>
                    <input type="date" name="beginning_date" class="form-control" id="beginning_date" value="{{ form ? form.beginning_date }}" />
                </div>

                <div class="form-ground">
                    <label for="expiry_date">Дата окончания периода действия</label>
                    <input type="date" name="expiry_date" class="form-control" id="expiry_date" value="{{ form ? form.expiry_date }}" />
                </div>

                <div class="form-ground">
                    <label for="issue_date">Дата выдачи</label>
                    <input type="date" name="issue_date" class="form-control" id="issue_date" value="{{ form ? form.issue_date }}" />
                </div>

                <div class="form-ground">
                    <label for="insurant_name">Наименование страхователя</label>
                    <input type="text" name="insurant_name" class="form-control" id="insurant_name" value="{{ form ? form.insurant_name }}" />
                </div>

                <div class="form-ground">
                    <label for="position_of_representative">Должность представителя</label>
                    <input type="text" name="position_of_representative" class="form-control" id="position_of_representative" value="{{ form ? form.position_of_representative }}" />
                </div>

                <div class="form-ground">
                    <label for="representative">Представитель</label>
                    <input type="text" name="representative" class="form-control" id="representative" value="{{ form ? form.representative }}" />
                </div>

                <div class="form-ground">
                    <label for="insurance_agent">Страховой агент</label>
                    <input type="text" name="insurance_agent" class="form-control" id="insurance_agent" value="{{ form ? form.insurance_agent }}" />
                </div>

                <p></p>
                <button type="submit" class="btn btn-primary" style="float: left; margin: 0 2px">Сохранить</button>
            </form>
        {% else %}
            {% if not policy_oldoms %}
                <div class="alert alert-danger" role="alert">
                    Пользователь не заполнил данные.
                </div>
            {% endif %}
            {% if not policy_oldoms.authenticity %}
                {% if user.role is same as('user') %}
                    <div class="alert alert-danger" role="alert">
                        Ваши данные не подтверждены Оператором системы.
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        Данные не подтверждены.
                    </div>
                {% endif %}
            {% else %}
                {% if user.role is same as('user') %}
                    <div class="alert alert-success" role="alert">
                        Ваши данные подтверждены Оператором системы.
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        Данные подтверждены.
                    </div>
                {% endif %}
            {% endif %}
            <form style="border: 3px solid black;padding: 10px; border-radius: 5px; ">
                <p>Страховая медицинская организация: {{ policy_oldoms.oldOMS_issuer_id|escape }}</p>
                <p>Серия полиса: {{ policy_oldoms.oldOMS_form_series|escape }}</p>
                <p>Номер полиса: {{ policy_oldoms.oldOMS_form_number|escape }}</p>
                <p>Фамилия: {{ policy_oldoms.surname_id|escape }}</p>
                <p>Имя: {{ policy_oldoms.name_id|escape }}</p>
                <p>Отчество: {{ policy_oldoms.middle_name_id|escape }}</p>
                <p>Дата рождения: {{ policy_oldoms.birth_date|escape }}</p>
                <p>Пол: {{ policy_oldoms.sex_id|escape }}</p>
                <p>Социальное положение: {{ policy_oldoms.social_status|escape }}</p>
                <p>Место работы: {{ policy_oldoms.place_of_work|escape }}</p>
                <p>Адрес проживания: {{ policy_oldoms.residence_country_id|escape }}, {{ policy_oldoms.residence_region_id|escape }}, {{ policy_oldoms.residence_city_id|escape }}, {{ policy_oldoms.residence_district_id|escape }}, {{ policy_oldoms.residence_settlement_id|escape }}, {{ policy_oldoms.residence_street_id|escape }}, {{ policy_oldoms.residence_house_id|escape }}, {{ policy_oldoms.residence_apartment_id|escape }}</p>
                <p>Телефон: {{ policy_oldoms.phone_id|escape }}</p>
                <p>Номер договора обязательного медицинского страхования: {{ policy_oldoms.contact_number|escape }}</p>
                <p>Дата заключения договора обязательного медицинского страхования: {{ policy_oldoms.contact_date|escape }}</p>
                <p>Дата начала периода действия: {{ policy_oldoms.beginning_date|escape }}</p>
                <p>Дата окончания периода действия: {{ policy_oldoms.expiry_date|escape }}</p>
                <p>Дата выдачи: {{ policy_oldoms.issue_date|escape }}</p>
                <p>Наименование страхователя: {{ policy_oldoms.insurant_name|escape }}</p>
                <p>Должность представителя: {{ policy_oldoms.position_of_representative|escape }}</p>
                <p>Представитель: {{ policy_oldoms.representative|escape }}</p>
                <p>Страховой агент: {{ policy_oldoms.insurance_agent|escape }}</p>
            </form>
            <p></p>
            {% if user.role is same as('user') %}
                {% if not policy_oldoms.authenticity%}
                <form method="get" action="/edit-old-oms">
                    <button type="submit" class="btn btn-primary" style="float: left; margin: 0 2px">Редактировать данные</button>
                </form>
                {% endif %}
            {% else %}
                <form>
                    <button type="submit" class="btn btn-primary" onclick="window.location.href='/edit-old-oms?user_id={{ users.user_id }}'; return false;" style="float: left; margin: 0 2px">Редактировать данные</button>
                </form>
            {% endif %}
        {% endif %}
    {% else %}
        <p>Авторизуйтесь, чтобы получить доступ к данным!</p>
    {% endif %}
    {% if user.role is same as('admin') %}
    <form>
        <button type="submit" class="btn btn-primary" onclick="window.location.href='/documents-users?user_id={{ users.user_id }}'; return false;" style="float: right; margin: 0 2px">Вернуться назад</button>
    </form>
        <form method="post" action="/old-oms-confirm-post?user_id={{ users.user_id }}">
            <button type="submit" class="btn btn-primary" style="margin-left: auto; margin-right: auto;">Подтвердить данные</button>
        </form>
    {% else %}
    <p></p>
    <form method="get" action="/insurance">
        <button type="submit" class="btn btn-primary" style="float: right; margin: 0 2px">Вернуться назад</button>
    </form>
    {% endif %}
{% endblock %}